body
{
    background-color: aliceblue;
}

.cell
{
    border: 1px solid black;
    height: 50px;
    line-height:50px;
    width: 50px;
    text-align: center;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.board
{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 90%;
}
