
#board
{
    display: none;
}

button
{
    background-color: aqua;
}

body
{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.header
{
    background-color: antiquewhite;
    width: 100%;
    text-align: center;
}
.cell
{
    border: 1px solid black;
    height: 80px;
    line-height:80px;
    width: 80px;
    text-align: center;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.game
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.board
{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 90%;
}
